@media all {

    html{
        height: 100%;
    }

    body {
        display: grid;
        grid-template-rows: 93fr 6fr;
        flex-direction: column;
        background-color: black;
        height: 100%;
        width: 100%;
        margin-left: 0;
    }

    header{
        width: 100%;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right:2%;
        margin-left:0 !important;
        flex-direction:row;
    }

    .d {
        font-size: 18px;
        text-align: center;
        margin-right: 60px;
    }

    .entete, .entete2{
        background-image: url(../images/background3.jpg);
        overflow: scroll;
        background-size: cover;
        background-attachment: fixed;
        background-position: 50%;
        background-repeat: no-repeat;
        display: grid;
        margin-top:13px;
        background-color: #000;
        width: 100%;
        height: 85%;
        position: absolute;
        opacity:10;
        color: white;
    }

    .entete2{
        grid-template-rows: 8%;
    }

    .contenu {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: 50%;
        font-size: larger;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        font-size: 1.2em;
        color: #008bff;
    }

    a:active {
        font-size: 1.1em;
        color: purple;
    }

    ul, li{
        list-style: none;
    }

    ul a{
        text-align: center;
        line-height: 40px;
        color: mediumspringgreen;
        background-color: #3d5afe;
        display: block;
        width: 135px;
        height: 40px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        z-index: 9999;
        color: black;
        background-color: #ebdfee;
        width: 100%;
    }

    .alignement .drop-down:hover .drop-down-content {
        height: 150px;
    }

    #triangle{
        border-bottom: 10px solid #3d5afe;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        width: 0;
        height: 0;
        margin-left: 52px;
    }

    .drop-down{
        position: relative;
        z-index: 9999;
        width: 70px;
    }

    .drop-down-content li:hover a{
        background-image: repeating-linear-gradient(blueviolet, blue);
    }

    .drop-down-content{
        position: absolute;
        width: 135px;
        margin: 0;
        padding-top: 10px;
        padding-left: 0;
        display: flow;
        height: 0;
        overflow: hidden;
        transition: all 1s ease;
    }

    .alignement {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 200px 0 20px;
        height: 60px;
        color: white;
    }

    .alignement2{
        align-self: start;
        border-top:6px darkred solid;
        background-color: black;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        height:60px;
        color: darkred;
        width: 100%;
        z-index: 999;
    }

    .monCompte{
        width: 100%;
        height: 100%;
        display: flex;
        block-size: auto;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        text-shadow:0 0 10px;
        letter-spacing: 1px;
        text-align: center;

    }

    .c1{
        width: 200px;
        height: 200px;
        background-image: url(../images/profil.png);
        background-repeat: no-repeat;
        border-radius: 50%;
        text-align: center;
        position: relative;
        box-shadow: black 0 0 30px;
    }

    #prompt3 {
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
    }

    #imgSpan {
        position: absolute;
        bottom: 80px;
        text-align: center;
        color: darkred;
        align-content: center;
        z-index: 100;
        font-size: 1.5em;
        overflow: scroll;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .filepath {
        width: 90%;
        height: 90%;
        opacity: 0;
    }

    #img3 {
        height: 100%;
        width: 100%;
        display: none;
        border-radius: 50%;
        z-index: 0;
    }

    #profil{
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-right: 150px;
    }

    .infoProfil{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        text-align: left;
        justify-content: flex-end;
        margin-left: 30px;
        width: 250px;
        overflow: scroll;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .infoProfil_item{
        font-size: 6em;
        font-family: "Times New Roman",Times,serif;
        padding: 0.08em 0;
        line-height: 96px;
    }


    .alignement > div {
        width: 13%;
        height: 5em;
    }

    .logo{
        background-image: url(../images/Logo.png);
        background-repeat: no-repeat;
    }

    .entete4{
        background-image: url(../images/background2.jpg);
        overflow: scroll;
        background-size: cover;
        background-attachment: fixed;
        background-position: 50%;
        background-repeat: no-repeat;
        display: grid;
        margin-top:13px;
        width: 100%;
        height: 89%;
        position: absolute;
        opacity:10;
        align-content: center;
        justify-content: center;
    }

    #inscrit, #login{
        width: 300px;
        height: 300px;
        background: rgba(4, 4, 4, 0.56);
        padding: 60px 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px mistyrose;
    }

    #inscrit h1, #login h1{
        color: #fff;
        text-shadow:0 0 10px;
        letter-spacing: 1px;
        text-align: center;
    }

    .masthead-heading{
        margin: 0;
    }

    .container3{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .masthead-subheading {
        font-size: 1.5rem;
        margin: 0;
    }
    .font-weight-light {
        font-weight: 300 !important;
    }
    .divider-custom {
        margin: 0 0 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .divider-custom .divider-custom-line {
        width: 100%;
        max-width: 7rem;
        height: 0.25rem;
        background-color: #2c3e50;
        border-radius: 1rem;
        border-color: #2c3e50 !important;
    }
    .divider-custom .divider-custom-line:first-child {
        margin-right: 1rem;
    }
    .divider-custom .divider-custom-line:last-child {
        margin-left: 1rem;
    }
    .divider-custom .divider-custom-icon {
        color: #2c3e50 !important;
        font-size: 2rem;
    }
    .divider-custom.divider-light .divider-custom-line {
        background-color: white;
    }

    h1{
        margin: 0.67em 0;
        text-align: center;
    }

    h2, h3, h4{
        color: mediumspringgreen;
        text-shadow:0 0 8px blue;
        text-align: center;
    }

    hr{
        width: 0;
        height: 20px;
        background-color: white;
        margin-right: 60px;
    }

    .but{
        width: 100%;
        color: white;
        font-size: 18px;
        display: block;
        background-color: #21a4ee;
        border: 1px solid #3762bc;
        line-height: normal;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    button:hover {
        background-color: dodgerblue;
        color: white;
    }

    #formvalider{
        width: 100%;
        overflow-x: hidden;
    }

    input{
        width: 100%;
        margin-bottom: 10px;
        outline: none;
        padding: 10px;
        font-size: 13px;
        color: black;
        border-top: 1px solid #312E3D;
        border-left: 1px solid #312E3D;
        border-right: 1px solid #312E3D;
        border-bottom: 1px solid #56536A;
        border-radius: 4px;
    }

    #keywords{
        width: calc(183px);
        margin-bottom: 0;
    }

    .submit-chercher{
        width: unset;
        display: none;
    }

    #chercher-user{
        height: 37px;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #chercher-user:hover {
        background-image: repeating-linear-gradient(blueviolet, blue);
        color: white;
    }

    .div-bor{
        position: relative;
    }

    #ici{
        text-decoration: underline;
        color: red;
    }

    .icon-user, .icon-user2, .icon-user3, .icon-user4, .icon-user5{
        position: absolute;
        z-index: 999;
        background-image: url(../images/oeil.png);
        background-repeat: no-repeat;
        background-position: 0;
        width: 10%;
        height: 20px;
        top: 5px;
        left: 250px;
        margin-top: 5px;
    }

    .radio{
        display: flex;
    }

    .filtrer, .filtrer2{
        display: grid;
        max-height: 800px;
        overflow-y: scroll;
    }

    .filtrer{
        grid-template-columns: 1fr 6fr;
    }

    .menu{
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 2em;
        justify-content: stretch;
    }

    .exbtn{
        width: 100%;
        text-align: center;
        border: 1px solid white;
    }

    .filtrer2{
        grid-template-columns: 1fr 5fr;
    }

    #showmsg{
        background: rgba(4, 4, 4, 0.56);
        overflow-y: scroll;
    }

    button {
        width: 40px;
        height: 40px;
        background-color: deepskyblue;
        color: white;
        border-radius: 20%;
    }

    strong{
        width: 103px;
        overflow-x: scroll;
        text-overflow: ellipsis;
        text-align: left;
    }

    .messagerie-total{
        display: grid;
        grid-template-columns: 1fr 5fr;
        overflow-y: scroll;
    }


    .messagerie-user{
        width: fit-content;
    }

    .messagerie-message{
        display: flex;
        overflow-y: scroll;
    }

    #content-item{
        background-color: rgba(0, 0, 0, 0.4);
        border: 2px solid black;
        padding: 10px;
        margin: 0;
        width: fit-content;
    }

    .messagerie-content{
        text-align: left;
        position: absolute;
        bottom: 0;
    }

    .people, .person{
        padding: 0;
        box-sizing: border-box;
    }

}

